@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway&display=swap');

.content{

    .page{
        .text{
            .info-text-title{
                font-family: 'Pacifico', cursive;
                font-size: 50px !important;
            }
            .info-text-sub-title{
                font-family: 'Raleway', sans-serif;
                font-size: 20px;
            }
        }
        .personal-photo{
            display: flex;
            justify-content: center;
            .img-circle-wrapper{
                width: 400px;
                height: 400px;
                background: black;
                border-radius: 50%;
            }
        }
    }    
}

